.custom-header {
  cursor: pointer;
  display: block;
}

.sorted {
  svg {
    position: relative;
    top: 3px;
    path {
      fill: #1371c8;
    }

    height: 16px;
    width: 16px;
    &.asc {
      transform: rotate(180deg);
    }
  }
}
